In [1]:
pip install zipfile

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

In [2]:
import zipfile
import kaggle
import pandas as pd

In [3]:
! kaggle datasets download d hmavrodiev/London-bike-sharing-dataset

usage: kaggle [-h] [-v] [-W]
              {competitions,c,datasets,d,kernels,k,models,m,files,f,config}
              ...
kaggle: error: unrecognized arguments: hmavrodiev/London-bike-sharing-dataset

In [4]:
! kaggle competitions list

ref                                                                                 deadline             category                reward  teamCount  userHasEntered
----------------------------------------------------------------------------------  -------------------  ---------------  -------------  ---------  --------------
https://www.kaggle.com/competitions/ai-mathematical-olympiad-progress-prize-3       2026-04-15 23:59:00  Featured         2,207,152 Usd        532           False
https://www.kaggle.com/competitions/hull-tactical-market-prediction                 2025-12-15 23:59:00  Featured           100,000 Usd       3126           False
https://www.kaggle.com/competitions/vesuvius-challenge-surface-detection            2026-02-13 23:59:00  Research           100,000 Usd        259           False
https://www.kaggle.com/competitions/google-tunix-hackathon                          2026-01-12 23:59:00  Featured           100,000 Usd         72           False
https://www.kaggle.com/competitions/csiro-biomass                                   2026-01-28 23:59:00  Research            75,000 Usd       1711           False
https://www.kaggle.com/competitions/recodai-luc-scientific-image-forgery-detection  2026-01-15 23:59:00  Research            55,000 Usd        718           False
https://www.kaggle.com/competitions/santa-2025                                      2026-01-30 23:59:00  Featured            50,000 Usd       1371           False
https://www.kaggle.com/competitions/MABe-mouse-behavior-detection                   2025-12-15 23:59:00  Research            50,000 Usd       1303           False
https://www.kaggle.com/competitions/cafa-6-protein-function-prediction              2026-02-02 23:59:00  Research            50,000 Usd        918           False
https://www.kaggle.com/competitions/physionet-ecg-image-digitization                2026-01-22 23:59:00  Research            50,000 Usd        622           False
https://www.kaggle.com/competitions/nfl-big-data-bowl-2026-analytics                2025-12-17 23:59:00  Featured            50,000 Usd         53           False
https://www.kaggle.com/competitions/playground-series-s5e12                         2025-12-31 23:59:00  Playground                Swag        788           False
https://www.kaggle.com/competitions/titanic                                         2030-01-01 00:00:00  Getting Started      Knowledge      16735           False
https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques     2030-01-01 00:00:00  Getting Started      Knowledge       6066           False
https://www.kaggle.com/competitions/home-data-for-ml-course                         2030-01-01 23:59:00  Getting Started      Knowledge       5266           False
https://www.kaggle.com/competitions/spaceship-titanic                               2030-01-01 00:00:00  Getting Started      Knowledge       2572           False
https://www.kaggle.com/competitions/digit-recognizer                                2030-01-01 00:00:00  Getting Started      Knowledge       1448           False
https://www.kaggle.com/competitions/nlp-getting-started                             2030-01-01 00:00:00  Getting Started      Knowledge        954           False
https://www.kaggle.com/competitions/store-sales-time-series-forecasting             2030-06-30 23:59:00  Getting Started      Knowledge        567           False
https://www.kaggle.com/competitions/llm-classification-finetuning                   2030-07-01 23:59:00  Getting Started      Knowledge        300           False

In [5]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (2025.11.12)
Requirement already satisfied: charset-normalizer in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (6.33.1)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (75.8.0)
Requirement already satisfied: six>=1.10 in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in c:\users\pallavi\anaconda4\envs\my_env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [6]:
! kaggle datasets list

ref                                                           title                                                     size  lastUpdated                 downloadCount  voteCount  usabilityRating
------------------------------------------------------------  --------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
wardabilal/spotify-global-music-dataset-20092025              Spotify Global Music Dataset (2009â€“2025)               1289021  2025-11-11 09:43:05.933000           9312        207  1.0
rohiteng/amazon-sales-dataset                                 Amazon Sales Dataset                                   4037578  2025-11-23 14:29:37.973000           2247         33  1.0
sonalshinde123/food-nutrition-dataset-150-everyday-foods      Food Nutrition Dataset                                    5566  2025-11-15 11:19:11                  1438         28  1.0
sadiajavedd/students-academic-performance-dataset             Students_Academic_Performance_Dataset                     8907  2025-10-23 04:16:35.563000          14295        342  1.0
khushikyad001/ai-impact-on-jobs-2030                          AI Impact on Jobs 2030                                   87410  2025-11-09 17:58:05                  5383        124  1.0
umitka/food-price-inflation                                   Food Price Inflation                                    473026  2025-12-02 12:30:45.013000            723         25  1.0
kundanbedmutha/instagram-analytics-dataset                    Instagram Analytics Dataset                            1090208  2025-11-19 09:28:48                  2471         48  1.0
prince7489/youtube-shorts-performance-dataset                 YouTube Shorts Performance Dataset                        6541  2025-11-25 09:23:36.147000           1032         33  0.9411765
zubairdhuddi/student-dataset                                  Student Mental Health & Depression Indicators Data      467020  2025-11-17 14:30:05.707000           1427         32  1.0
sonalshinde123/student-academic-performance-dataset           Student Academic Performance Dataset                     14999  2025-11-27 12:19:48                  1369         39  1.0
ayeshaseherr/buisness-sales                                   Buisness_Sales                                          954452  2025-11-24 08:51:12.203000            898         27  1.0
umitka/global-youth-unemployment-dataset                      Global Youth Unemployment Dataset                        83620  2025-11-29 10:14:28.613000           1004         40  1.0
sonalshinde123/social-media-mental-health-indicators-dataset  Social Media Mental Health Indicators Dataset            80135  2025-11-26 09:23:50.673000           1569         38  1.0
kevinpickelman/nba-data-2012-2024                             NBA Data (2012-2024)                                   1223439  2025-11-20 19:28:44.023000            973         25  1.0
wardabilal/student-stress-analysis                            Student Stress Analysis                                   1729  2025-11-01 09:14:39.367000           5382         94  1.0
shaistashahid/job-market-insight                              Job Market Insight                                        7558  2025-11-27 09:24:45                   582         26  1.0
prince7489/fast-food-ordering-pattern-dataset                 Fast-Food Ordering Pattern Dataset                        9413  2025-11-23 13:42:34.117000            925         30  0.9411765
ayeshaimran123/social-media-and-mental-health-balance         Social Media and Mental Health Balance                    5941  2025-10-26 07:51:53                 10688        149  1.0
kundanbedmutha/exam-score-prediction-dataset                  Exam Score Prediction Dataset                           325454  2025-11-28 07:29:01.047000           1454         32  1.0
umitka/synthetic-financial-fraud-dataset                      Financial Fraud Dataset                                 375568  2025-11-25 12:01:17                  1077         40  1.0

In [7]:
# Download the bike sharing data set from kaggle 
! kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [8]:
# Extract the file from downloaded zip file 
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name,'r') as file:
    file.extractall()

In [9]:
# Read in csv as pansas file 
bikes = pd.read_csv("london_merged.csv")

In [10]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [11]:
bikes.shape

(17414, 10)

In [12]:
bikes.head

<bound method NDFrame.head of                  timestamp   cnt   t1   t2    hum  wind_speed  weather_code  \
0      2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
1      2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2      2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
3      2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
4      2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                    ...   ...  ...  ...    ...         ...           ...
17409  2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
17410  2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
17411  2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
17412  2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
17413  2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

       is_holiday  is_weekend  season
0             0.0         1.0     3.0
1             0.0         1.0     3.0
2             0.0         1.0     3.0
3             0.0         1.0     3.0
4             0.0         1.0     3.0
...           ...         ...     ...
17409         0.0         0.0     3.0
17410         0.0         0.0     3.0
17411         0.0         0.0     3.0
17412         0.0         0.0     3.0
17413         0.0         0.0     3.0

[17414 rows x 10 columns]>

In [13]:
# Count the unique values in the weather code column 
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [14]:
# Count the unique values in the season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [15]:
new_cols_dict = {
'timestamp' : 'time',
'cnt' : 'count',
't1' : 'temp_real_C ',
't2' : 'temp_feels_like_C ',
'hum' : 'humidity_percent',
'windspeed' : 'windspeed_kph',
'weather_code' : 'weather',
'is_holiday' : 'is_holiday',
'is_weekend' : 'is_weekend',
'season' : 'season'
   
}
# Making the changes in columns permanent by using inplace  = True
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [16]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [17]:
# Changing the humidity values between 0 and 1 
bikes.humidity_percent = bikes.humidity_percent/100

In [18]:
bikes.season.describe()

count    17414.000000
mean         1.492075
std          1.118911
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: season, dtype: float64

In [19]:
# Creating the season directory so that we can actually map the integers 0-3 to written values 

season_dict = {
'0.0' : 'Spring',
'1.0' : 'Summer',
'2.0' : 'Autumn',
'3.0' : 'Winter'
} 

# Creating the weather directory so that we can actually map the integers to written values 

weather_dict = {
'1.0' : 'Clear', 
'2.0' : 'Scattered Cloud',
'3.0' : 'Broken Clouds',
'4.0' : 'Cloudy',
'7.0' : 'Rain',
'10.0' : 'Rain with thunderstorm',
'26.0' : 'Snowfall'
}

# Changing the season data type to string 
bikes.season = bikes.season.astype('str')

# Mapping the values 0-3 to actual written seasons 

bikes.season = bikes.season.map(season_dict)


# Changing the weather data type to string 
bikes.weather = bikes.weather.astype('str')

# Mapping the values 0-3 to actual written seasons 

bikes.weather = bikes.weather.map(weather_dict)

In [20]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [24]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [25]:
bikes.to_excel('London_bikes_final.xlsx', sheet_name= 'data')